{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="row bg-primary pt-5">
        <div class="container">
            <div class="col-md-12 mt-5 mb-5">
                <h2 class="">Register</h2>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="container">
            <div class="col-md-8 offset-md-2 mt-5">
                {% include 'flash_messages.html' %}
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class_="form-control", size=32) }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_="form-control", size=32) }}
                    </div>
                    {{ form.submit(class_="form-control btn-primary") }}
                </form>
                <br>
                <a href="{{ url_for('login') }}">Already have an account? Log In</a>
            </div>
        </div>
    </div>
{% endblock %}